html{
  background-color: #55917f;
  color: #5e4c5a;
}

header {
  border-top:#5e4c5a solid 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

#profile {
  margin: 5px;
  border: #5e4c5a ridge 5px;
  border-radius: 10%;
  width: 100px;
}

h1 {
  margin-left: 5px;
  font-size: xx-large
}

main {
  background-color: #e1f0c4;
  border-top: #5e4c5a solid 10px;
  border-bottom: #5e4c5a solid 10px;
  display: flex;
  flex-direction: row;
}

aside{
  background-color: #6bab90;
  border-right: #5e4c5a solid 10px;
}

#experience{
  margin-left: 5px;
}

#job-title{
  padding: 25px;
  list-style-type: disc;
  font-size: larger;
  font-weight:bold;
}

.job-data{
  padding-left: 20px;
  list-style-type: square;
  justify-content: left;
  align-items: left;
  font-size: medium;
  font-weight: lighter;
}

li {
  padding-top: 4px;
}

article {
  background-color: #6bab90;
  border: #5e4c5a solid 5px ;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px 20px 50px;
  width: 50vw;
}

h2 {
  font-size: x-large;
  font-weight: bolder;
  margin-top: 5px;
}

p {
  margin: 5px;
}

strong{
  font-weight: bold;
}

em {
  font-weight: light;
}

section{
  background-color: #6bab90;
  border: #5e4c5a solid 5px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  margin: 20px 20px 20px 50px;
}

#top-ten{
  padding: 5px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  list-style-type: disc;
}

footer{
  display: flex;
  flex-direction: row;
}

#contact-info{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.socialMedia{
  width: 30px;
  height: 30px;
}
